In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
import scrublet as scr
import scipy.io
import matplotlib.pyplot as plt
import os
import scvelo as scv
import harmonypy as hm
from matplotlib.pyplot import rc_context
import re

In [2]:
sc.settings.set_figure_params(dpi=150,fontsize=8) #change global figure resolution

In [3]:
datapath = r"/nfs_master/prakrithi/abhay/testis_scripts/" # make sure to put the 'r' in front

In [4]:
# Data has been already concatenated, preprossed (doublet_removed, mito etc) and intergrated using Harmony
adata_hvg = sc.read_h5ad(datapath+'integrated_data.h5ad')

In [8]:
adata_hvg.var

,n_cells,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts
(CATTC)n,2901,2901,0.154761,96.295398,12119.0
(GAATG)n,2050,2050,0.048437,97.382132,3793.0
A1BG,2001,2001,0.029065,97.444706,2276.0
A1BG-AS1,473,473,0.006296,99.395975,493.0
A1CF,119,119,0.001698,99.848036,133.0
...,...,...,...,...,...
Zaphod,19765,19765,0.461983,74.759922,36177.0
Zaphod2,7624,7624,0.126794,90.264085,9929.0
Zaphod3,11919,11919,0.212111,84.779333,16610.0
hAT-16_Crp,32,32,0.000409,99.959136,32.0
hAT-N1_Mam,6653,6653,0.103182,91.504061,8080.0

## Normalization

In [11]:
sc.pp.normalize_total(adata_hvg, target_sum=1e4)

In [13]:
sc.pp.log1p(adata_hvg)

In [14]:
adata_hvg.raw=adata_hvg

## Calculate highly variable genes

In [15]:
sc.pp.highly_variable_genes(adata_hvg,n_top_genes=3000)

In [16]:
adata_hvg = adata_hvg[:, adata_hvg.var['highly_variable']].copy()

In [17]:
sc.tl.pca(adata_hvg, svd_solver='arpack', n_comps=40)

In [18]:
sc.pl.pca_variance_ratio(adata_hvg, log=False)

In [20]:
adata_hvg.obsm

AxisArrays with keys: X_pca

In [21]:
print_dim(adata_hvg)

NameError: name 'print_dim' is not defined